<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-content">
                    <h1 class="header green-text center"><i class="fas fa-globe icon"></i>Interact</h1>
                    <li style="list-style: none;" class="divider"></li>
                    <div class="flex">
                        <img src="/upload/uploads/{{profilePic}}" alt="profile pics" style="max-width: 100%;">
                    </div>
                    <li style="list-style: none;" class="divider"></li>
                    <div class="flex">
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">Username - {{username}}</li>
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">E-mail - {{email}}</li>
                        <li style="list-style: none;  margin-bottom: 1.5rem; font-weight: 700" class="green-text">Phone-Number - {{phone}}</li>
                    </div>
                    <li style="list-style: none;" class="divider"></li>
                    <div class="flex">
                        <li style="list-style: none; margin-bottom: 2rem">
                            <a href="/interact/{{username}}/groupchat" id="join" type="submit" class="btn waves-effect waves-light white green-text" style="font-weight: 700;">
                                <i class="fas fa-users green-text" style="font-size: large; margin-right: .7rem"></i>Join a GroupChat
                            </a>
                        </li>
                        <li style="list-style: none; margin-bottom: 2rem">
                            <button id="create" type="submit" class="btn waves-effect waves-light white green-text" style="font-weight: 700;">
                                <i class="fas fa-plus green-text" style="font-size: large; margin-right: .7rem"></i>Create a GroupChat
                            </button>
                        </li>
                        <li style="list-style: none; margin-bottom: 2rem">
                            <button id="post" type="submit" class="btn waves-effect waves-light white green-text" style="font-weight: 700;">
                                <i class="fas fa-upload green-text" style="font-size: large; margin-right: .7rem"></i>Create a Post
                            </button>
                        </li>
                    </div>
                    <div style="display: none;" id="makePost">
                        <li class="divider"></li>
                        <h1 class="header green-text center" style="font-size: 2.2rem; margin-top: 1.5rem">Share your Exprience</h1>
                        <form action="/profile/{{username}}/post" id="postForm" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea name="postDesc" id="text" class="materialize-textarea"></textarea>
                                    <label for="text" class="green-text" style="font-weight: 700;">Description</label>
                                </div>
                            </div>
                            <div class="input-field file-field" style="margin-top: 1.8rem;">
                                <div class="btn white green-text">
                                    <span  style="font-weight: 700;"><i class="fas fa-upload" style="margin-right: 1rem;"></i>Upload a photo</span>
                                    <input type="file" name="post-img" id="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input type="text" class="file-path validate" name="filepath">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3 center-align" style="margin-top: 1.8rem;">
                                    <button type="submit" class="btn waves-effect waves-light white green-text" style="font-weight: 700;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="display: none;" id="makeGroup">
                        <li class="divider"></li>
                        <h1 class="header green-text center" style="font-size: 2.2rem; margin-top: 1.5rem">Interact with Friends</h1>
                        <form action="/profile/{{username}}/group" id="postForm" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="groupname" id="text">
                                    <label for="text" class="green-text" style="font-weight: 700;">Name</label>
                                </div>
                            </div>
                            <div class="input-field file-field" style="margin-top: 1.8rem;">
                                <div class="btn white green-text">
                                    <span  style="font-weight: 700;"><i class="fas fa-upload" style="margin-right: 1rem;"></i>Upload a photo</span>
                                    <input type="file" name="post-img" id="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input type="text" class="file-path validate" name="filepath">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 offset-s3 center-align" style="margin-top: 1.8rem;">
                                    <button type="submit" class="btn waves-effect waves-light white green-text" style="font-weight: 700;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>